@import '/src/styles/variables';
@import '/src/pages/Login/styles/mixin';

*{
  background-color:$background-color;
}
.pay{
  display: flex;
  font-size: 12px;

  main{
    flex: 1.5;

   img{
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
   }
    
      ul{
        display: inline-block;
        margin: 0 50px;
       
        li{
          margin: 40px;
          float:left;
        }
      }

    .deliveryinfo{
      margin: 50px;

    input{
      width:350px;
      height: 40px;
      margin: 10px 0;
      padding: 0 10px;
      border: 1px solid #cccccc;
      background-color: white;
    }
 
    .needbox{
      input{
        height: 80px;
    }
  }

  .package{
    input{
      width: 17px;
      height: 17px;
      margin-right: 10px;
    }
  }
    h2{
      padding: 10px 0;
      border-bottom: 1px solid black;
    }
    p{
      margin: 20px 0;
    }
    .buy{
      width: 120px;
      height: 50px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
}
.asidemenu{
  flex: 1;
  margin: 10px;
  font-size: 12px;

  aside{
    margin: 20px;
    padding: 20px 20px 30px 20px;
    border: 1px solid #cccccc;

        a{
          display: block;
          margin:20px 0;
          text-decoration: underline;
        }

    .coupon{
      height: 45px;
      margin:20px 0;
      border: 1px solid #cccccc;
    }

    button{
      width: 120px;
      height: 45px;
      margin-left: 10px;
      border: 0.5px solid black;
      border-radius: 0;
      background-color: white;
    }

    h2{
      margin-bottom: 20px;
      font-size: 13px;
      text-align: center;
    }

    p{
      @include bodyText2;
      line-height: 1.8;
    }

    .pricetag{
      margin-top: 30px;
      font-weight: 600;

      p{
        display: flex;
        justify-content: space-between;
        padding: 5px 0 25px;

      }
      .deliveryprice{
        border-bottom: 1px solid #cccccc;
      }
    }
  }
  a{
    color: black;
  }
}



