@import '/src/styles/variables';

.carousel {
  position: relative;
  width: 472px;
  max-width: 472px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  .sildeItem {
    display: flex;
    width: 400%;
    height: 100%;
    background-position: center;
    background-size: cover;

    .slideImg {
      width: 472px;
    }
  }

  .leftArrowStyles {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    color: $color-black;
    font-size: 45px;
    cursor: pointer;
  }

  .rightArrowStyles {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 12px;
    transform: translate(0, -50%);
    color: $color-black;
    font-size: 45px;
    cursor: pointer;
  }

  .slideBar {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    .slideBarDot {
      width: 5px;
      height: 5px;
      margin: 0 8px;
      color: $color-black;
      cursor: pointer;

      &:focus {
        width: 6px;
        height: 6px;
      }
    }
  }
}
