$theme-background: #fdf9ef;
$background-color: #FCF9EE;
//Brand Colors
$color-black: #1C1C1C;
$color-gray: #707070;
$color-cream-stroke: #E2E1D7;
$color-cream-disabled: #E1E2D7;
//System Colors
$color-invalid: #CC0000;
$color-valid: #0CC42F;
$color-warning: #EBBB00; 