@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

$background-color: #fcf9ee;

//Brand Colors
$color-black: #1c1c1c;
$color-gray: #707070;
$color-cream-stroke: #e2e1d7;
$color-cream-disabled: #e1e2d7;

//System Colors
$color-invalid: #cc0000;
$color-valid: #0cc42f;
$color-warning: #ebbb00;

//Typography
@mixin titleH1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: $color-black;
}

@mixin titleH2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.01em;
  color: $color-black;
}

@mixin titleH3 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
  color: $color-black;
}

@mixin titleH4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: $color-black;
}

@mixin bodyText {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: $color-black;
}

@mixin bodyText2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: $color-black;
}

//Buttons & Links
@mixin link {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.17em;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  color: $color-black;
}

@mixin linkSmall {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.17em;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  color: $color-black;
}

@mixin linkFooter {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: $color-black;
}

@mixin linkBold {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.15;
  text-decoration: underline;
  cursor: pointer;
  color: $color-black;
}

@mixin linkCap {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
  color: $color-black;
}

@mixin linkList {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  color: $color-black;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@mixin linkNav {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  color: $color-black;

  &:focus {
    text-decoration: underline;
    text-underline-position: under;
  }
}
