@import '/src/styles/variables';

.products {
  background-color: $background-color;

  .bannerImg {
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .info {
    position: relative;
    min-height: 800px;
    margin: 0 44px;

    .layoutInfoFull {
      display: flex;
      flex-wrap: wrap;
      max-width: 1254px;
      margin: 0 auto;
      padding: 42px 0;

      .categoryWrap {
        @include linkSmall;
        display: flex;
        position: absolute;
        top: 37px;
        left: 0;
        padding: 0 44px 0 0;
        text-decoration: none;

        .category {
          display: flex;
          position: relative;
          margin: 0;
          padding: 0;

          .cateList {
            display: flex;
            padding: 0 10px;
            line-height: 1.6;

            a {
              text-decoration: none;
            }
          }
        }
      }

      .leftColumnSection {
        display: flex;
        flex-flow: column;
        width: 68%;

        .carousel {
          width: 100%;
          max-width: 472px;
          margin: 0 auto;
          padding: 0;

          .slideImg {
            .sildeItem {
              img {
                width: 100%;
                cursor: zoom-in;
              }
            }
          }
          .slideBar {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            margin: 16px 0 0;

            .slideBarDot {
              display: inline-block;
              position: relative;
              width: 5px;
              height: 5px;
              margin: 8px;
              padding: 0px;
              border-radius: 50%;
              background-color: $color-black;
              cursor: pointer;
            }
          }
        }
        .btnShare {
          @include linkBold;
          display: flex;
          justify-content: center;
          margin: 12px auto 0;
          font-weight: 400;
        }
      }
      .rightColumnSection {
        display: flex;
        flex-wrap: wrap;
        width: 32%;
        max-width: 328px;
        .productsContainer {
          .badge {
            @include bodyText2;
            font-weight: 600;
            letter-spacing: 1px;
          }

          .nameEn {
            @include titleH2;
            margin: 20px 0 13px;
          }

          .nameKr {
            @include titleH3;
          }

          .price {
            @include bodyText2;
            display: flex;
            width: 100%;
            margin: 10px 0 24px;
            padding: 0;
            font-weight: 600;
          }
          .reviewBox {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            min-height: 24px;
            margin: 0 0 36px;

            .averageRating {
              @include bodyText2;
              margin: 0px 8px;
            }

            .btnReadReview {
              @include linkBold;
              margin: 0px 8px;
            }
          }

          .description {
            @include bodyText2;
            display: inline;
            letter-spacing: 0.04em;
            line-height: 1.6;
          }

          .sizePicker {
            display: flex;

            .pickerTrack {
              .trackItem {
                display: block;
              }
            }
          }

          .btnBox {
            .btnCart {
              position: relative;
              width: 100%;
              height: 50px;
              margin: 24px 0 30px;
              padding: 0px 16px;
              background-color: $color-black;
              color: $background-color;
            }
          }

          .wishListBox {
            display: flex;
            justify-content: flex-end;
            margin: 0 0 0 auto;

            .wishList {
              @include bodyText;
            }

            .wishIcon {
              margin-left: 8px;
              padding: 0;
            }
          }
          .borderBox {
            width: 100%;
            padding: 10px 0 12px;
            border-top: 1px solid #e2e1d7;
            border-bottom: 1px solid #e2e1d7;
          }
        }
      }

      .infoContentSection {
        width: 100%;
        margin-top: 50px;

        .ingredients,
        .howToUse {
          .contentBody2 {
            @include bodyText;
            margin: 0 48px;
            padding-top: 20px;
          }
        }
      }
    }
    .layoutInfoContent {
      .howToUseCologne {
        @include titleH3;
      }
      .productList {
        @include titleH3;
      }
      .review {
        .contentHeader {
          @include titleH3;
        }
      }
    }
  }
}
